html {
    scroll-behavior: smooth;
    /* font-family: Inter, sans-serif; */
    
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
    :root,
    body {
        font-family: InterVariable, sans-serif;
    }
}


body {
    background-color: rgb(4, 1, 11);
    color: rgb(69, 73, 79);
    margin: 20px;
    padding: 20px;
    font-size: 25px;
    font-family:'Reddit Mono', monospace;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgb(26, 24, 22);
    z-index: 9999;
    left: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 8%;
    font-size: 18px;
}



span {
    color: rgb(72, 245, 242);
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 1px 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

li:hover {
    text-decoration: underline;
    color: aqua;
    font-size: 20px;
}
#toggle-icon{
    color:lightslategrey;
}

#toggle-icon:hover{
    color: white;
}

nav li a{
    background: linear-gradient(45deg, hsl(9, 11%, 87%),rgb(226, 225, 235));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    background: linear-gradient(45deg, hsl(10, 95%, 47%),rgb(26, 9, 156));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

#email{
    background: linear-gradient(70deg, rgb(244, 33, 5), rgb(3, 251, 61));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

}

.paragraph-1 a{
    font-size: 30px;
    background: linear-gradient(45deg, rgb(239, 237, 238), rgb(155, 249, 5));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

#name{
    color: rgb(19, 237, 48);
    font-size: 50px;

}

.projects a{
    background: linear-gradient(45deg, rgb(118, 5, 80), rgb(219, 237, 189));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}


#link:hover {
    font-size: 20px;
}

.social-contact li {
    list-style-type: none;
    font-size: 30px;
}


.main {
    color: rgb(78, 75, 75);
   
}

.name-section {
    display: flex;
    padding-left: 30px;
}

.names {
    padding-right: 50px;
}

.names {
    position: relative;
    font-size: 20px;
    padding-top: 10%;
    left: 13%;
}

.names .greeting,
.firstname,
.last-name {
    display: grid;
}
.last-name,#arrow-1{
    display: flex;
}
#arrow-1{
    color: rgb(19, 237, 48);
    font-size: 18px;
}
.last-name{
    color: aliceblue;
    font-style: italic;
}

.social-contact {
    position: relative;
    display: flex;
}

.social-contact li {
    padding: 20px;
}

.social-contact a {
    color: white;
    text-decoration: none;
}

.social-contact #email {
    color: red;
    font-weight: bold;
}

.social-contact #linkedin {
    position: relative;
    color: rgb(221, 221, 230);
    padding: 5px;
    border-radius: 100%;
    height: 20px;
    width: 20px;
}

.social-contact #resume {
    background-color: rgb(179, 117, 117);
    font-size: 24px;
    padding: 10px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(172, 172, 192);
}

.main-content {
    color: white;
}
/* quotes */

.quotes #arrow {
    font-weight: bold;
    margin-right: 5px;
}
.message-box{
    position: relative;
    display: grid;
    justify-content: center;
}
.quotes{
    left: 20%;
    display: grid;
    justify-content: center;
}

.quotes{
    position: relative;
    width: 60%;
    font-size: 20px;
    background-color: rgb(0, 0, 8);
    color: wheat;
    font-style: italic;
    margin-bottom: 30px;
    /* padding: 10px; */
    /* margin: 10px 0; */
}
#arrow{
    position: relative;
    color: rgb(20, 238, 96);
    font-size: 20px;
}
#message{
    color:rgb(176, 176, 169);
    font-size: 22px;
    /* word-spacing: 2px; */
}
/* blocking bar */

/* about me introduuction section */

.intro-about{
    position: relative;
    top: 10%;
    background-color: rgb(4, 0, 10);
    border-color: rgb(14, 14, 15);
    border-style: solid;
    border-radius: 3px;
    padding: 9px;
    margin-top: 30px;
    font-style: italic;
}


.intro-about,
.intro-skills,
.social-contact{
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    position: relative;
    left: 13%;
    width: 80%;
    font-size: 20px;
}

.intro-about,
.intro-skills {
    padding: 10px;
}
.intro-about{
    width: 80%;
}

.intro-about p {
    font-family: monospace;
    color: hsl(36, 33%, 97%);
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 24px;    
    word-spacing: 0px;
}

.intro-about .h-1,
.h-1-skills,.tools .h-1 {
    display: grid;
    justify-content: center;
    font-size: 23px;
    color: greenyellow;
}
.intro-about .h-2{
    display: grid;
    justify-content: center;
}

.intro-skills {
    color: white;
}

.stack-fonts {
    color: white;
}
/* tools */
.tools{
    position: relative;
    display: grid;
    justify-content: center;
}
.tools #p-2{
    display: grid;
    justify-content: center;
    position: relative;
    width: 100%;
    padding: 8px;
}

.tools-page{
    /* background-color: rgb(197, 160, 160); */
    display: flex;
    gap:30px;
    overflow-x: scroll
}


#image-1,
#image-2,
#image-3,
#imge-4,
#image-5,
#image-6,
#image-7,
#image-8,
#image-9,
#image-10
{
    background-color: rgb(3, 15, 51);
    border-radius: 10px;
    padding: 10px;
    width: 90px;
    height: 80px;
    border-style: groove;
    border-color: rgb(95, 94, 97);
    border-width: 4px;
    white-space: nowrap;
}

.name{
    color: hsl(180, 4%, 83%);
}


#p-2 button{
    background-color: rgb(22, 192, 129);
    color: #273032;
    font-size: medium;
    font-weight: bold;
    padding: 6px;
    width: 90px;
    border: none;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(146, 149, 148);

}

.aligns{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

/* projects */
.projects{
    padding: 30px;
    margin-top: 20px;
    display: grid;
    justify-content: center;
    position: relative;

}
.projects .h-1{
    display: grid;
    justify-content: center;
    font-size: 23px;
    color: greenyellow;
}
.map-projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

#p-1 p{
    color: rgb(180, 182, 184);
    padding: 0px;
    font-size: 19px;
}

#p-1{
    background-color: #000000e7;
    border-style: solid;
    border-color: rgb(22, 33, 49);
    padding: 10px;
    width: 30%;
    justify-content: center;
    border-radius: 8px;
}
#p-1 h1{
    display: grid;
    justify-content: center;
    color: rgb(53, 129, 129);
}

#p-1:hover{
    background-color: rgb(0, 12, 9);
    color: rgb(142, 150, 150);
}
#btn{
    position: relative;
    /* display: grid; */
    justify-content: center;
    left: 15%;
}


#p-1 button{
    background-color: rgb(15, 175, 175);
    border-color: rgb(185, 201, 195);
    border: none;
    border-radius: 5px;
    padding: 5px;
}

@media screen and (max-width: 800px) {
    .main{
        position: relative;
        width: 100%;
    }

    nav ul li {
        padding: 1px 5px;
        /* display: block; */
    }

    nav a{
        display: none;
    }

    .name-section{
        position: relative;
        padding-left: 0;
    }
    
    .names {
        position: relative;
        /* font-size: 20px; */
        padding-top: 10%;
        left: 0;
        margin-top: 20px;
    }

    .greeting,
    .firstname,
    .last-name
    {
        font-size: 17px;
    }


    
    .social-contact li {
        font-size: 20px;
        margin-top: 14px;
        margin-bottom: 10%;
    }

    .quotes{
        position: relative;
        width: 100%;
        margin: 0;
        left: 0;
    }
    
    .quotes p{
        /* left: 3%; */
        /* width: 100%; */
        font-size: 10px;
        /* margin-bottom: 20px; */
    }
    
    .intro-about,
    .intro-skills,
    .social-contact,#p-1 {
        left: 0;
        right: 10%;
        width: 90%;
        font-size: 18px;
    }

    .paragraph-1{
        padding: 0px;

    }


    .paragraph-1 p{
        font-size: 19px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 1px;
    }
    
    .projects {
        position: relative;
        justify-content: left;
        /* width: 100%; */
        padding:0px;
        margin-top: 20px;
        display: grid;
        justify-content: center;
    }

    .map-projects{
        position: relative;
        width: 110%;
        float: left;
        left: -10px;
        right:1px;
        margin-right: 0;
        margin-left: 0;
    }


    
    #p-1 {
        position: relative;
        width: 100%;
        border-color:rgb(20, 20, 30) ;
    }
    #btn{
        position: relative;
        /* display: grid; */
        justify-content: center;
        left: 4%;
    }
}

