html {
    scroll-behavior: smooth;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

body {
    background-color: rgb(166, 151, 199);

    color: rgb(150, 153, 156);
    font-size: 25px;
    font-family:'Reddit Mono', monospace;
    border-color: rgb(14, 86, 92);
    border-radius: 3px;

    border-style: dashed;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #0f0117;
    border-bottom-color: rgb(8, 30, 87);
    border-bottom-width: 3px;
    border-style: solid;
    z-index: 9999;
    left: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 8%;
    font-size: 18px;
}

nav h1{
    color:hsl(0, 14%, 96%);

}




span {
    color: #df0c60;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 1px 25px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

li:hover {
    text-decoration: none;
}
#toggle-icon{
    color:lightslategrey;
}

#toggle-icon:hover{
    color: white;
}

nav li a{
    background: linear-gradient(45deg, hsl(9, 11%, 87%),rgb(226, 225, 235));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main a {
    background: linear-gradient(45deg, hsl(10, 95%, 47%),rgb(26, 9, 156));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

#email{
    background: linear-gradient(70deg, rgb(244, 33, 5), rgb(3, 251, 61));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

}

.main {
    position: relative;
    padding-bottom: 10%;
    width: 100%;
   
}

.paragraph-1 a{
    font-size: 20px;
    background: linear-gradient(45deg, rgb(24, 21, 229),rgb(24, 20, 228));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    
}

#name{
    color: rgb(19, 237, 48);
    font-size: 30px;

}

#social{
    font-size: 20px;
}


#link:hover {
    font-size: 20px;
}

.social-contact li {
    list-style-type: none;
    font-size: 30px;
}




.name-section {
    display: flex;
    padding-left: 30px;
    padding-top: 10%;
}

.names {
    position: relative;
    font-size: 20px;
    padding-right: 50px;
    padding-top: 10%;
    left: 13%;
}

.names h1{
    color: rgb(30, 185, 199);
    font-size: 40px;
    font-weight: bold;
}

.names h1 > .firstname{
    font-size: 22px;
    font-weight: bold;
}
.names h1 > .last-name{
    font-size: 22px;
    font-weight: bold;

}
.names .greeting,
.firstname,
.last-name {
    display: grid;
}
.last-name,#arrow-1{
    display: flex;
}
#arrow-1{
    color: rgb(19, 237, 48);
    font-size: 18px;
}
.last-name{
    color: white;

}

.social-contact {
    position: relative;
    display: flex;
}

.social-contact li {
    padding: 20px;
}

.social-contact a {
    color: white;
    text-decoration: none;
}

.social-contact #email {
    color: red;
    font-weight: bold;
}

.social-contact #linkedin {
    position: relative;
    color: rgb(221, 221, 230);
    padding: 5px;
    border-radius: 100%;
    height: 20px;
    width: 20px;
}

.social-contact #resume {
    font-size: 24px;
    padding: 10px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(15, 15, 151);
    border-width: 3px;
}

.main-content {
    color: white;
}
/* quotes */

.quotes #arrow {
    font-weight: bold;
    margin-right: 5px;
}
.message-box{
    position: relative;
    display: grid;
}
.quotes{
    left: 15%;
    display: grid;
    
}

.quotes{
    position: relative;
    width: 60%;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 30px;

}
#arrow{
    position: relative;
    color: rgb(20, 238, 96);
    font-size: 20px;
}
#message{
    font-size: 40px;
    line-height: 1.5;
    font-style: normal;
    font-weight: bold;
    color: rgb(235, 229, 229);
    
}
/* blocking bar */

/* about me introduuction section */

.intro-about{
    position: relative;
    top: 10%;
    background-color: rgb(4, 0, 10);
    border-color: rgb(24, 7, 109);
    border-style: solid;
    border-radius: 3px;
    margin-top: 30px;
    font-style: normal;
    color: white;
    padding-bottom: 10%;
}



.intro-skills,
.social-contact{
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    position: relative;
    left: 13%;
    width: 80%;
    font-size: 19px;
}

.intro-about,
.intro-skills {
    padding: 40px;
}

.intro-about p {
    /* font-family: monospace; */
    color: white;
    opacity: 80%;
    font-weight: normal;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 22px;  
    line-height: 1.5;  
    word-spacing: 0px;
}

.intro-about .h-1,
.h-1-skills,.tools .h-1 {
    display: grid;
    justify-content: left;
    font-size: 23px;
    color: greenyellow;
}
.intro-about .h-2{
    display: grid;
    justify-content: center;
}

#education{
    position: relative;
    background-color: #0B0E2F;
    position: relative;
    width: 100%;
    margin-top: 1rem;
    border-radius: 5px;
    height: auto;
}

#education .h-1{
    color: rgb(29, 237, 22);
}

.edu > div{
    display: grid;
    justify-content: left;
}

.conainter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.oberlin img{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 6px;
    margin-left: 10px;
}

.content  h1{
    font-size: 20px;
    padding-left: 2rem;

}

.content h1:hover{
    text-decoration: none;
    color: rgb(223, 230, 230);

}



.tools{
    margin-top: 3%;
    position: relative;
    display: grid;
    justify-content: center;
    border-color: rgb(13, 8, 50);
    border-style: solid;
}
.tools #p-2{
    display: grid;
    justify-content: center;
    position: relative;
    /* width: 100%; */
}

.tools-page{
    display: flex;
    flex-wrap: wrap;
    gap:30px;

    padding: 20px;

}


#image-1,
#image-2,
#image-3,
#imge-4,
#image-5,
#image-6,
#image-7,
#image-8,
#image-9,
#image-10
{
    background-color: rgb(1, 4, 10);
    border-radius: 10px;
    padding: 3px;
    width: 90px;
    height: 80px;
    border-style: groove;
    border-color: rgb(4, 2, 16);
    border-width: 2px;
    white-space: nowrap;
}

.name{
    color: hsl(180, 4%, 83%);
}

.aligns{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

/* projects */
.projects{
    padding: 30px;
    margin-top: 20px;
    display: grid;
    justify-content: center;
    position: relative;



}
.row{
    background-image: url(images/anime.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    opacity: 90%;
    padding: 30px;
}




 .projects .h-1{
    display: grid;
    justify-content: left;
    font-size: 25px;
    color: rgb(50, 191, 227);
}





.wrapper{
    position: relative;
    background-color: #0B0E2F;
    border-color: #0B0E2F;
    color: white;
}

.wrapper h2{
    
    font-size: 20px;

}










  
  @keyframes bounce {
    0% {
      tranform: translate(0, 4px);
    }
    50% {
      transform: translate(0, 8px);
    }
  } 
  
  
@media screen and (max-width: 800px) {
    .main{
        position: relative;
        width: 95%;
    }

    nav ul li {
        padding: 1px 5px;
        /* display: block; */
    }

    nav a{
        display: none;
    }

    .name-section{
        position: relative;
        padding-left: 0;
    }
    
    .names {
        position: relative;
        /* font-size: 20px; */
        padding-top: 10%;
        left: 0;
        margin-top: 20px;
    }

    .greeting,
    .firstname,
    .last-name
    {
        font-size: 20px;
    }


    
    .social-contact li {
        font-size: 20px;
        margin-top: 14px;
        margin-bottom: 10%;
    }

    .quotes{
        position: relative;
        width: 100%;
        margin: 0;
        left: 0;
        border-bottom-style: solid;
        border-bottom-color: rgb(126, 129, 129);
    }
    
    .quotes p{
        font-size: 18px;
        line-height: 1.3;
    }

    .intro-about,
    .intro-skills,
    .social-contact,#p-1 {
        left: 0;
        right: 0;
        width: 100%;
        font-size: 18px;
    }
    .intro-about{
        width: 100%;
    }
    .paragraph-1{
        padding: 3px;
    }



    .paragraph-1 p{
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 1px;
        line-height: 1.5;
        font-style: normal;
    }
    
    .projects {
        position: relative;
        padding:0px;
        margin-top: 20px;
        display: grid;
        justify-content: center;
    }

    .container{
        display: flex;
        flex-direction: column;
    }

    .content{
        display: grid;
        justify-content: center;
    }
    img{
        position: relative;
        width: 1000px;
    }

    .content{
        padding-top: 30px;
    }
    
    #p-1 {
        position: relative;
        width: 100%;
        border-color:rgb(20, 20, 30) ;
    }
    #btn{
        position: relative;
        /* display: grid; */
        justify-content: center;
        left: 4%;
    }
}

